@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
body {
  --gray: #ececec;
  --gray2: #8b8b8b;
  --black: black;
  --white: white;
  --background: white;
  --linkedin: #0a66c2;
  --green: #05ff00;
  --yellow: #05ff00;
  --red: #ff0000;
  --lightblue: #00d1ff;
  --purple: #8f00ff;
  --letter-color: black;
  --hoverbtn: black;
  --line: var(--gray2);
  --maskcolor: white;
  --iconcolor: black;
  --scroolbar: var(--black);
}
body.dark {
  --gray: #18181b;
  --gray2: #9b9b9b;
  --black: rgb(240, 240, 240);
  --white: #18181b;
  --background: #18181b;
  --linkedin: #0a66c2;
  --green: #05ff00;
  --yellow: yellow;
  --red: #ff0000;
  --lightblue: #00d1ff;
  --purple: #8f00ff;
  --letter-color: rgb(240, 240, 240);
  --hoverbtn: #18181b;
  --line: rgb(53, 53, 53);
  --maskcolor: linear-gradient(
    to right,
    rgba(24, 24, 27, 1),
    rgba(24, 24, 27, 0)
  );
  --iconcolor: rgb(240, 240, 240);
  --scroolbar: rgb(117, 117, 117);
}

html,
body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--background);
  color: var(--letter-color);
}

body::-webkit-scrollbar {
  background-color: rgb(221, 221, 221);
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--scroolbar);
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}
.wrapper {
  padding: 0 10%;
}
@media (min-width: 1024px) {
  .wrapper {
    padding: 0 17%;
  }
}

.title_section {
  display: flex;
  align-items: center;
}
.title_section div {
  width: 100px;
  height: 2px;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .title_section div {
    width: 280px;
  }
}

/* RETURN UP  */

.returnup {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2em;
}

.returnup div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  color: var(--white);
  border-radius: 9999px;
  background-color: var(--black);
}
/* HEADER  */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
  height: 80px;
}

.header > div {
  display: flex;
  align-items: center;
}

.header .icon {
  margin-left: 30px;
}

.header .links {
  display: none;
  margin: 0 1em;
}
.header .links a {
  font-size: 16px;
  margin: 0 1em;
  transition: 450ms all;
}
.header .links a:first-child:hover {
  color: var(--yellow);
}
.header .links a:nth-child(2):hover {
  color: var(--red);
}
.header .links a:nth-child(3):hover {
  color: var(--purple);
}
.header .links a:nth-child(4):hover {
  color: var(--lightblue);
}
.world-icon {
  margin-bottom: -3px;
  margin-left: 10px;
}
.dropdown-menu-lang {
  display: none;
}
.lang {
  position: relative;
}
.dropdown-menu-lang {
  position: absolute;
  top: 22px;
  left: 50%;
  border: 1px solid rgba(24, 24, 27, 0.1);
  border-radius: 5px;
  background-color: var(--white);
  padding-left: 0.2rem;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
}
.dropdown-menu-lang p {
  font-size: 0.8rem;
  cursor: pointer;
}
.dropdown-menu-lang p:hover {
  text-decoration: underline;
}
.world-icon:hover + .dropdown-menu-lang,
.dropdown-menu-lang:hover {
  display: block;
}
@media (min-width: 768px) {
  .header > div > div {
    display: none;
  }
  .header .links {
    display: flex;
    align-items: center;
  }
}

.header svg {
  margin-bottom: -5px;
  margin-left: 10px;
}

/* PRINCIPAL  */

.principal {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em;
}
.principal h1 {
  text-align: center;
}
.principal.wrapper {
  gap: 50px;
}
.principal .image_container {
  max-width: 300px;
  margin: 1em auto;
  text-align: left;
  border-radius: 99999px;
  text-align: center;
}
.principal img {
  border-radius: 99999px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.principal p {
  margin: 0.5em;
}

.principal .contact_me {
  margin-top: 1.5em;
}
.principal .contact_me span {
  font-size: 16px;
  color: var(--gray2);
}

.principal .buttons_contact {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.principal .buttons_contact a {
  border-radius: 3px;
  padding: 5px 30px;
  color: var(--white);
  margin: 0 10px;
  transition: 450ms all;
}
.principal .buttons_contact a:first-child {
  background-color: var(--black);
}
.principal .buttons_contact a:nth-child(2) {
  background-color: var(--linkedin);
}

.principal .buttons_contact a:hover {
  opacity: 0.7;
}

.principal .linkedin-link {
  color: white !important;
}
.principal .download-cv {
  color: white !important;
  border: 1px solid rgb(204, 68, 68);
  background-color: rgb(204, 68, 68);
}

@media (min-width: 768px) {
  .principal {
    display: flex;
    align-items: center;
    margin: 4em 0 6em 0;
  }
  .principal img {
    width: 250px;
    height: 250px;
  }
  .principal .image_container {
    margin: 0;
    margin-right: 2em;
  }
  .principal > div {
    margin-left: 2em;
  }
  .principal .description {
    text-align: left;
    margin-top: 1em;
  }
  .principal .buttons_contact {
    margin-top: 15px;
  }
}
/* SKILLS  */

.skills {
  margin-bottom: 4em;
}
.skills .title_section div {
  background-color: var(--red);
}
.skills img {
  width: 70px;
  height: 70px;
  border-radius: 9999px;
}
.skills .wrapper > div {
  display: grid;
  min-height: 100px;
  grid-template-columns: 70px auto;
  align-items: center;
  justify-content: flex-start;
  margin: 1em;
}

.skills .content_item {
  margin-left: 20px;
}
.skills .content_item > div {
  display: flex;
  flex-wrap: wrap;
}

.skills .content_item > p {
  font-weight: bold;
  margin-bottom: 5px;
}
.skills .content_item span {
  color: var(--gray2);
  font-size: 16px;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .skills .wrapper {
    margin: 2em 0 6em 0;
  }
  .skills .wrapper {
    display: grid;
    column-gap: 6em;
    grid-template-columns: repeat(2, 1fr);
  }
  .skills .wrapper > div {
    justify-self: left;
    margin-left: 0;
    min-width: 40%;
  }
}

/* PORTFOLIO */

.portfolio {
  text-align: center;
  margin-bottom: 4em;
}

.portfolio .wrapper {
  margin-top: 2em;
}

.portfolio .title_section div {
  background-color: var(--purple);
}
.portfolio .title_item {
  margin-bottom: 1em;
  font-weight: normal;
  padding: 3px 5px;
  font-weight: 600;
}

.portfolio .item {
  text-align: center;
  margin-bottom: 4em;
}

.description h2,
h3,
p {
  margin-top: 1em;
}

.portfolio .description h3 {
  margin: 2em 0 0 0;
  font-weight: 600;
  font-size: 14px;
}

.portfolio .description p {
  font-size: 16px;
  text-align: justify;
}
.portfolio .imagep {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.portfolio .technologies_container {
  padding-top: 1em;
}
.portfolio .technologies_container > span {
  color: var(--gray2);
  font-size: 12px;
  letter-spacing: 10px;
}

.portfolio .technologies_container .line {
  width: 100%;
  height: 1px;
  background-color: var(--line);
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.portfolio .technologies {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 70px;
}

.portfolio .technologies p {
  font-size: 14px;
  margin: 0.5em 2em;
}

.portfolio .vermas {
  text-decoration: underline;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 450ms all;
}
.portfolio .vermas:hover {
  color: var(--purple);
}

.portfolio .buttons_container {
  display: flex;
  flex-direction: column;
}
.portfolio .buttons_container a {
  border: 1px solid var(--black);
  border-radius: 3px;
  font-size: 16px;
  margin: 1em 0;
  padding: 5px 25px;
  transition: 450ms all;
}
.portfolio .buttons_container a:hover {
  background-color: var(--purple);
  color: white;
}

/* .portfolio img {
  mask-image: var(--maskcolor);
} */

@media (min-width: 1000px) {
  .portfolio {
    margin-top: 6em;
    margin-bottom: 6em;
  }

  .portfolio .title_item {
    margin-bottom: 0.8em;
  }

  .portfolio .description h2,
  h3,
  p {
    margin-top: 0.5em;
    /* text-align: center; */
  }

  .portfolio .description h3 {
    margin: 1em 0;
  }

  .portfolio .item {
    display: grid;
    grid-template-columns: 45% auto;
    column-gap: 4em;
    grid-template-areas:
      "title title"
      "desc image"
      " opts opts";
  }
  .portfolio .title_item {
    grid-area: title;
    margin-bottom: 1.5em;
  }

  .portfolio .image_container {
    grid-area: image;
    justify-self: stretch;
    /* height: 250px; */
    margin-top: 1em;
  }

  .portfolio .description h2,
  h3 {
    text-align: left;
  }
  .portfolio .description {
    grid-area: desc;
  }
  .portfolio .bottom_options {
    grid-area: opts;
  }
  .portfolio .technologies_container {
    width: 100%;
    margin: 1em auto 0 auto;
  }
  .portfolio .buttons_container {
    flex-direction: row;
    justify-content: center;
  }

  .portfolio .buttons_container a {
    margin-right: 1em;
    margin-left: 1em;
  }
  .portfolio img {
    width: 40vw;
  }
}

/* CONTACT  */

.contact {
  margin-bottom: 4em;
}
.contact .title_section div {
  background-color: var(--lightblue);
}

.contact .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact .icon:first-child {
  margin-top: 2em;
}

.contact .icon {
  transition: 450ms all;
  color: var(--iconcolor);
}

.contact .icon:hover {
  color: var(--lightblue);
  opacity: 0.5;
}

@media (min-width: 768px) {
  .contact .wrapper {
    margin-top: 2em;
    flex-direction: row;
  }
  .contact .icon {
    margin: 2em;
  }
}

/* FOOTER  */

.footer {
  border-top: 1px solid var(--gray);
}

.footer p {
  text-align: center;
}

.footer div {
  padding: 2em 0;
  font-size: 16px;
}

.modal {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--black);
  width: 100%;
  /* height: 45%; */
  transform: translateY(-1000px);
  transition: 450ms all;
  padding-bottom: 20px;
}
.showModal {
  transform: translateY(0);
}

.modal .close_container {
  padding: 1em 10%;
  text-align: right;
  border-bottom: 1px solid var(--gray);
}
.modal .links_container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.modal .links_container a {
  font-size: 20px;
  margin: 0.8em 0;
  transition: 450ms all;
}

.modal .links_container a:nth-child(2):hover {
  color: var(--yellow);
}
.modal .links_container a:nth-child(3):hover {
  color: var(--red);
}
.modal .links_container a:nth-child(4):hover {
  color: var(--purple);
}
.modal .links_container a:nth-child(5):hover {
  color: var(--lightblue);
}
